RewriteEngine on 
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
#RewriteCond $1 !^(index\.php|adminmaster|fonts|themes|asset|userfiles|images|process|(.*).js|fonts|addons|robots\.txt)
#RewriteRule ^(.*)$ /osdormaison/index.php?params=$1 [NC,QSA]
RewriteRule ^(.*)$ /osdormaison/index.php/?$1 [NC,QSA]